body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-span {
  color: #2e2f42;
}
.nav-link {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #4d5ae5;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-item {
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover,
.contacts-item:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
}
.title-hero {
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-button {
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.features {
  background-color: #f0f1f5;
}
.features-title {
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.features-subtitle {
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-text {
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-subtitle {
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.text-subtitle {
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-portfolio {
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-subtitle {
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-span {
  color: #fff;
}
.text-subtitle {
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
