body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-span {
  color: #2e2f42;
}
.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #4d5ae5;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-aitem {
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover,
.contacts-aitem:focus {
  color: #404bbf;
}
